.services-service-title{
    margin-bottom: 13px;
}
.services-service-p{
    margin-bottom: 46px;
    width: 358px;
    
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .services-service-p{
        margin-bottom: 46px;
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .services-service-title{
        margin-bottom: 5px;
    }
    .services-service-p{
        margin-bottom: 15px;
        width: 140px;
    }
}