.footernavservices-item-title{
    margin-bottom: 26px;

    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
}
.footernavservices-item-p{
    font-weight: 400;
    font-size: 22px;
    line-height: 300%;

    color: #4D5053;
}
.footernavservices-item-p:hover{
    color: #CDA274;
}

@media screen and (max-width: 1250px) {
    .footernavservices-item-title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footernavservices-item-p {
        font-size: 20px;
        line-height: 200%;
    }
}
@media screen and (max-width: 768px) {
    .footernavservices {
        display: none;
    }
}