.headerNavList {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.headerNavItem {
    margin-right: 30px;
}

.headerNavItem:nth-child(2n) {
    position: relative;
}

.headerNavItem:last-child {
    margin: 0;
}

.headerNavItem a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #292F36;

    cursor: pointer;

    transition: color .1s ease-in-out;
}

.headerNavItem a:hover {
    color: #CDA274;
}


.link .link-pages {
    margin-top: 15px;
    position: absolute;
    left: -10px;

    display: none;
    transition: display .2s ease-in-out;
}

.link-active .link-pages {
    display: block;
}

@media screen and (max-width: 1250px) {
    .headerNavItem {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .headerNavList {
        display: none;
    }
}