.aboutusresult{
    margin-bottom: 200px;

    display: flex;
    justify-content: space-between;
}

.aboutusresult-item{
    width: 450px;
}
.aboutusresult-title{
    margin-bottom: 23px;
}
.aboutusresult-p{
    margin-bottom: 61px;
}

.aboutusresult-btn{
    padding: 26px 41px;
}

.aboutusresult-item:first-child{
    width: 659px;
    height: 377px;

    background-image: url(../img/Result.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 70px;
}

@media screen and (max-width: 1250px) {
    .aboutusresult {
        margin: 0 30px;
        margin-bottom: 100px;
    }
    .aboutusresult-item {
        width: 350px;
    }
    .aboutusresult-item:first-child {
        max-width: 500px;
    }
}

@media screen and (max-width: 1024px) {
    .aboutusresult {
        margin: 0 30px;
        margin-bottom: 70px;
        flex-direction: column;
    }
    .aboutusresult-item {
        width: 100%;
    }
    .aboutusresult-title {
        margin-bottom: 10px;
    }
    .aboutusresult-p {
        margin-bottom: 40px;
    }
    .aboutusresult-item:first-child {
        width: 100%;
        max-width: 100%;
        height: 200px;
        border-radius: 30px;
        margin-bottom: 20px;
    }
}