.quotes {
    margin: 0 auto;
    margin-bottom: 200px;

    width: 875.5px;
    height: 428px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../img/quotes-pattern.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.quotes-conctent {
    padding: 80px 100px;
    width: 751px;
}

.quotes-decor {
    font-style: italic;
    font-weight: 400;
    font-size: 85px;
    line-height: 125%;

    text-align: center;
}

.quotes-title {
    margin-bottom: 34px;

    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 125%;

    text-align: center;
}

.quotes-p {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;

    color: #4D5053;
}

@media screen and (max-width: 1250px) {
    .quotes {
        margin-bottom: 100px;
        width: 600px;
    }
    .quotes-conctent {
        padding: 60px 800px;
        width: 500px;
    }
    .quotes-decor {
        font-size: 60px;
    }
    .quotes-title {
        margin-bottom: 34px;
        font-size: 25px;
    }
    
    .quotes-p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .quotes {
        margin-bottom: 50px;
        width: 400px;
        height: fit-content;
    }
    .quotes-conctent {
        padding: 20px 200px;
        width: 300px;
    }
    .quotes-decor {
        font-size: 40px;
    }
    .quotes-title {
        margin-bottom: 80px;
        font-size: 15px;
    }
    
    .quotes-p {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
    .quotes {
        width: 250px;
    }
    .quotes-conctent {
        width: 200px;
    }
    .quotes-decor {
        font-size: 35px;
    }
    .quotes-title {
        margin-bottom: 20px;
        font-size: 12px;
    }
    
    .quotes-p {
        font-size: 12px;
    }
}