.contactuspage-title {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 683px;
    text-align: center;
}

.contactuspage-list {
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
}

.contactuspage-list-item:first-child {
    display: flex;
    flex-direction: column;
    height: 280px;

    padding: 76px 32px;
    background-color: #F4F0EC;

    border-radius: 50px;
}

.contactuspage-list-item-link {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #4D5053;

    transition: color .1s ease-in-out;
}

.contactuspage-list-item-link:hover {
    color: #CDA274;
}

.contactuspage-list-item-link:last-child {
    margin-bottom: 47px;
}

.contactuspage-list-item-link svg {
    margin-right: 15px;
}


.contactuspage-list-item-social-block {
    display: flex;
    justify-content: space-between;

    width: 146px;
}



.contactuspage-form {
    width: 797px;
}

.contactuspage-input-block {
    display: flex;
    justify-content: space-between;
}

.contactuspage-input {
    width: 380px;
    height: 45px;

    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    border: none;
    border-bottom: 1px solid black;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.contactuspage-input::placeholder {
    position: absolute;

    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    color: #4D5053;
}

.contactuspage-input-comment {
    width: 800px;
    height: 175px;

    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    border: none;
    border-bottom: 1px solid black;

    resize: none;
}

.contactuspage-input-comment::placeholder {
    position: absolute;

    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    color: #4D5053;
}

.contactuspage-btn-block {
    display: flex;
    justify-content: right;
}

.contactuspage-btn {
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
}

.contactuspage-btn svg {
    top: 28px;
}

.contactuspage-map-container {
    margin: 0 auto;
    margin-bottom: 200px;

    width: 1200px;
    height: 500px;

    background: #292F36;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);

    border-radius: 70px;

    overflow: hidden;
}

@media screen and (max-width: 1250px) {
    .contactuspage {
        margin: 0 30px;
    }
    .contactuspage-title {
        margin-bottom: 50px;
    }
    .contactuspage-list {
        margin-bottom: 100px;
    }
    .contactuspage-list-item:first-child {
        margin-right: 30px;
    }
    .contactuspage-form {
        width: 400px;
    }
    .contactuspage-input {
        width: 180px;
        height: 45px;
    }
    .contactuspage-input-comment {
        width: 400px;
        margin-bottom: 50px;
    }
    .contactuspage-map-container {
        margin-bottom: 100px;
    
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width: 1024px) {
    .contactuspage {
        margin: 0 30px;
    }
    .contactuspage-title {
        margin-bottom: 50px;
    }

    .contactuspage-list-item:first-child {
        margin-right: 30px;
    }
    .contactuspage-form {
        width: 300px;
    }
    .contactuspage-input {
        width: 150px;
    }
    .contactuspage-input-comment {
        width: 300px;
        height: 150px;
    }

    .contactuspage-btn svg {
        top: 19px;
    }

    .contactuspage-map-container {
        height: 300px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 768px) {
    .contactuspage {
        margin: 0 15px;
    }
    .contactuspage-title {
        margin-bottom: 30px;
        width: 100%;
    }

    .contactuspage-list {
        margin-bottom: 50px;
    }

    .contactuspage-list-item:first-child {
        margin-right: 15px;
        border-radius: 30px;
    }
    .contactuspage-form {
        width: 300px;
    }
    .contactuspage-input {
        width: 130px;
    }
    .contactuspage-input-comment {
        width: 300px;
        height: 150px;
        margin-bottom: 30px;
    }
    .contactuspage-map-container {
        border-radius: 15px;
    }
}

@media screen and (max-width: 670px) {
    .contactuspage {
        margin: 0 15px;
    }
    .contactuspage-title {
        margin-bottom: 30px;
    }

    .contactuspage-list {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .contactuspage-list-item:first-child {
        margin-right: 0;
        margin-bottom: 30px;
        padding: 32px 32px;
        border-radius: 15px;
    }
    .contactuspage-form {
        width: 100%;
    }
    .contactuspage-input {
        width: 180px;
    }
    .contactuspage-input-comment {
        width: 100%;
        height: 150px;
    }

}
@media screen and (max-width: 450px) {
    .contactuspage-form {
        width: 100%;
    }
    .contactuspage-input {
        width: 150px;
    }
    .contactuspage-map-container {
        height: 200px;
    }
}