.leavereply-input-block {
    display: flex;
    justify-content: space-between;
}

.leavereply-input {
    width: 380px;
    height: 45px;

    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    border: none;
    border-bottom: 1px solid black;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.leavereply-input::placeholder {
    position: absolute;

    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    color: #4D5053;
}

.leavereply-input-comment {
    width: 100%;
    height: 175px;

    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    border: none;
    border-bottom: 1px solid black;

    resize: none;
}

.leavereply-input-comment::placeholder {
    position: absolute;

    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    color: #4D5053;
}

.leavereply-btn {
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
}

.leavereply-btn svg {
    top: 29px;
}

@media screen and (max-width: 1250px) {
    .leavereply-input {
        width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .leavereply-input {
        width: 220px;
    }
    .leavereply-btn svg {
        top: 19px;
    }
}

@media screen and (max-width: 768px) {
    .leavereply-main {
        margin: 0 auto;
        width: 500px;
    }
}
@media screen and (max-width: 530px) {
    .leavereply-main {
        margin: 0 auto;
        width: 325px;
    }
    .leavereply-input {
        width: 120px;
        height: 30px;
    }
}
@media screen and (max-width: 360px) {
    .leavereply-input-block {
        margin-top: 10px;
    }
    .leavereply-main {
        margin: 0 auto;
        width: 300px;
    }
    .leavereply-input {
        width: 100px;
        height: 25px;
        margin-bottom: 30px;
    }
    .leavereply-input::placeholder {
        font-size: 15px;
    }
    .leavereply-input-comment {
        height: 130px;
        margin-bottom: 30px;
    }
    .leavereply-input-comment::placeholder{
        font-size: 15px;
    }
}