.callus{
    margin-bottom: 67px;
}

.callus-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.callus-list-item:first-child{
    margin-right: 15px;
}

.callus-list-number{
    font-family: 'Jost', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #4D5053;
}

.call-anytime{
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
}

@media screen and (max-width: 1250px) {
    .callus-list-number{
        font-size: 20px;
    }
    .call-anytime{
        font-size: 20px;
    }

    .callus-list-item svg {
        max-width: 70px;
        max-height: 70px;
    }

}
@media screen and (max-width: 768px) {
    .callus{
        display: none;
    }

}