.footernavcontact-item-title{
    margin-bottom: 26px;
    
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
}
.footernavcontact-item-p{
    width: 258px;
    font-weight: 400;
    font-size: 22px;
    line-height: 300%;

    color: #4D5053;
}
.footernavcontact-item-p:hover{
    color: #CDA274;
}
.footernavcontact-item:nth-child(2n) .footernavcontact-item-p{
    line-height: 150%;
}

@media screen and (max-width: 1250px) {
    .footernavcontact-item-title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footernavcontact-item-p {
        font-size: 20px;
        line-height: 200%;
    }
}
@media screen and (max-width: 768px) {

    .footernavcontact-item-title {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .footernavcontact-item-p {
        font-size: 15px;
        line-height: 200%;
        max-width: 150px;
    }
}