.about-usP {
    margin-bottom: 200px;
}

@media screen and (max-width: 1250px) {
    .about-usP {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .about-usP {
        margin-bottom: 50px;
    }
}