.blogsingleaside-form {
    margin-bottom: 50px;
    position: relative;
}

.blogsingleaside-title {
    margin-bottom: 33px;
}

.blogsingleaside-news {
    margin-bottom: 50px;
}

.blogsingleaside-news-item {
    margin-bottom: 34px;
    width: 100%;

    border-bottom: 1px solid #CDA274;
}

.blogsingleaside-news-item:last-child {
    margin-bottom: 0;
}

.blogsingleaside-news-item-link {
    color: #292F36;

    transition: color .1s ease-in-out;
}

.blogsingleaside-news-item-link:hover {
    color: #CDA274;
}

.blogsingleaside-news-item-p {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 20px;
    line-height: 125%;

    word-wrap: break-word;
}

.blogsingleaside-news-item-date {
    margin-bottom: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: right;

    color: #4D5053;
}

.blogsingleaside-category-block {
    background: #F4F0EC;
    border-radius: 20px;
}

.blogsingleaside-category {
    padding: 27px 32px;
}

.blogsingleaside-category-title {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
}

.blogsingleaside-category-item {
    border-bottom: 1px solid #CDA274;
}

.blogsingleaside-category-item:last-child {
    border: none;
}

.blogsingleaside-p {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 22px;
    line-height: 300%;

    color: #4D5053;
}

.blogsingleaside-p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 1024px) {
    .blogsingleaside-title {
        width: 100%;
    }
    .blogsingleaside-news {
        width: 100%;
    }
    .blogsingleaside-news-item {
        margin-bottom: 34px;
        
        border-bottom: 1px solid #CDA274;
    }
    .blogsingleaside-category-block {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .blogsingleaside {
        display: none;
    }
}