.projectdetailsphotoblock {
    margin-bottom: 200px;
    position: relative;
}

.projectdetailsphotoblock-photo-block {
    width: 1200px;
    height: 800px;

    overflow: hidden;

    background: #C4C4C4;
    border-radius: 70px;

    cursor: pointer;
}

.projectdetailsphotoblock-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectdetailsphotoblock-photo-block-svg {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 65px);

    width: 132px;
    height: 132px;

    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #CDA274;

    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}
.projectdetailsphotoblock-photo-block-svg svg{
    position: absolute;
    top: 35%;
    left: 37%;
}

.projectdetailsphotoblock-photo-block-svg:hover{
    color: #4D5053;
    background-color: #f3f3f3;
}


.projectdetailsphotoblock-photo-fullscreen-block {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1903px;
    height: 1920px;

    transform: translate(-50%, -70%);

    background-color: #00000050;

    z-index: 1000;
    cursor: pointer;

    display: none;
}

.projectdetailsphotoblock-photo-fullscreen {
    position: absolute;
    top: 70%;
    left: 50%;

    height: 900px;

    transform: translate(-50%, -50%);
}

.projectdetailsphotoblock-photo-fullscreen-modal-active {
    display: block;
}