.headersearch {
    position: relative;
}

.headersearch-input {
    border: none;
    border-radius: 30px;
    width: 250px;
    padding: 15px 20px;
    padding-right: 60px;
    background-color: #F4F0EC;
}

.headersearch-btn {
    position: absolute;
    right: 13px;
    top: 9px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.headersearch-btn svg {
    color: #141414;
}

.headersearch-btn:hover svg {
    color: #CDA274;
}

.headersearch-list {
    display: none;
    position: absolute;
    top: 48px;

    padding: 40px;
    width: 250px;

    border-radius: 20px;
    background-color: #fff;

    z-index: 2000;
}

.headersearch-list-active {
    display: block;
}

.headersearch-item {
    margin-bottom: 20px;
}

.headersearch-item:last-child {
    margin-bottom: 0;
}

.headersearch-item a {
    color: #222;
    font-size: 16px;
}

.headersearch-item:hover a {
    color: #CDA274;
}

@media screen and (max-width: 1250px) {
    .headersearch-input {
        width: 200px;
        padding: 11px 15px;
        padding-right: 50px;
    }

    .headersearch-btn {
        top: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .headersearch {
        display: none;
    }
}