.footer-main {
    margin-bottom: 134px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    margin-bottom: 46px;

    text-align: center;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    color: #4D5053;
}

@media screen and (max-width: 1250px) {
    .footer-main {
        margin: 0 30px;
        margin-bottom: 80px;
    }

    .footer-copyright {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .footer-main {
        margin: 0;
        margin-bottom: 30px;
    }

    .footer-copyright {
        margin: 0 15px;
        margin-bottom: 30px;
        font-size: 15px;
    }
}