.contact {
    margin-bottom: 200px;

    width: 1200px;
    height: 374px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #292F36;
    border-radius: 70px;
}

.contact-title {
    margin-bottom: 11px;
    color: #fff;
}

.contact-p {
    margin-bottom: 32px;
    color: #fff;
}

.contact-btn {
    position: relative;
    padding: 26px 37px;
    padding-right: 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    border: none;
    border-radius: 18px;
    background-color: #CDA274;
    box-shadow: 0px 10px 20px #1F2022;
    cursor: pointer;

    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.contact-btn svg {
    margin-left: 11px;
    position: absolute;
    color: #292F36;
    top: 28px;

    transition: color .1s ease-in-out, margin-left .1s ease-in-out;
}

.contact-btn:hover {
    color: #292F36;
    background-color: #fff;
}

.contact-btn:hover svg {
    color: #CDA274;
    margin-left: 18px;
}