
.hero{
    display: flex;
    align-items: center;
    width: 1201px;
    height: 758px;
    border-radius: 70px;
    background-image: url("../img/Hero.jpg");
    margin-bottom: 200px;
}
.hero-block{
    width: 434px;
    margin-left: 52px;
}

.hero-title{
    margin-bottom: 18px;
}
.hero-p{
    margin-bottom: 51px;
}
