.headerLogo{
    height: 50px;
}

@media screen and (max-width: 768px) {
    .headerLogo{
        top: 6px;
        left: calc(50% - 70px);
        position: absolute;
    }

    .headerLogo svg {
        width: 130px;
    }
  }