.heading {
    margin-bottom: 52px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 811px;
}

.heading-title {
    margin-bottom: 12px;
}

.heading-p {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .heading {
        margin-bottom: 30px;
    }

    .heading-p {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .heading {
        margin-bottom: 20px;
        width: 100%;
    }

    .heading-p {
        padding: 0 15px;
        width: 100%;
    }
}