.admin-page {
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adminaside{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminaside-line{
    margin: 0 auto;
    margin-bottom: 80px;
    width: 80%;
    border: 1px solid #F4F0EC;
}

.adminaside-list{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adminaside-item{
    margin-bottom: 20px;

    font-size: 20px;
    color: #4D5053;
    transition: color .1s ease-in-out;
}
.adminaside-item:hover{
    color: #CDA274;
}