.blog-blank-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-blank {
    width: 382px;
    height: 521px;
    position: relative;
    background-color: #e4e4e4;
    border-radius: 62px;
}
.blog-blank:nth-child(1n){
    margin-bottom: 30px;
}

.blog-blank-img-block {
    position: relative;
}

.blog-blank-img {
    margin: 21px;

    width: 340px;
    height: 289px;
    background-color: #d4d4d4;
    border-radius: 45px 45px 0px 0px;
}

.blog-blank-img-tag {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 235px;
    left: 35px;

    width: 124px;
    height: 41px;
    border-radius: 8px 8px 8px 0px;
    background-color: #e9e9e9;
}

.blog-blank-title {
    margin-left: 20px;
    width: 300px;
    height: 25px;
    background-color: #d4d4d4;
}

.blog-blank-date-block {
    width: 340px;
    position: absolute;

    left: 20px;
    bottom: 37px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blog-blank-date {
    width: 150px;
    height: 18px;
    background-color: #d4d4d4;
}

.blog-blank-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d4d4d4;
}

.gradient-main {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #e4e4e4;
    background: linear-gradient(to right, #e4e4e4 8%, #f4f4f4 38%, #e4e4e4 54%);
    background-size: 1000px 640px;
    
    position: relative;
    
}

.gradient-img {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #d4d4d4;
    background: linear-gradient(to right, #d4d4d4 8%, #e4e4e4 38%, #d4d4d4 54%);
    background-size: 1000px 640px;
    
    position: relative;
    
}

.gradient-img-tag {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #e9e9e9;
    background: linear-gradient(to right, #e4e4e4 8%, #e9e9e9 38%, #e4e4e4 54%);
    background-size: 1000px 640px;
    
    position: relative;
    
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}