.blog-blank-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-blank {
    width: 382px;
    height: 521px;
    position: relative;
    background-color: #e4e4e4;
    border-radius: 62px;
}
.blog-blank:nth-child(1n){
    margin-bottom: 30px;
}

.blog-blank-img-block {
    position: relative;
}

.blog-blank-img {
    margin: 21px;

    width: 340px;
    height: 289px;
    background-color: #C4C4C4;
    border-radius: 45px 45px 0px 0px;
}

.blog-blank-img-tag {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 235px;
    left: 35px;

    width: 124px;
    height: 41px;
    border-radius: 8px 8px 8px 0px;
    background-color: rgb(245, 245, 245);
}

.blog-blank-title {
    margin-left: 20px;
    width: 300px;
    height: 25px;
    background-color: #C4C4C4;
}

.blog-blank-date-block {
    width: 340px;
    position: absolute;

    left: 20px;
    bottom: 37px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blog-blank-date {
    width: 150px;
    height: 18px;
    background-color: #C4C4C4;
}

.blog-blank-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C4C4C4;
}