.aboutus-team {
    margin-bottom: 200px;
    position: relative;
    left: calc(-50vw + 50% - 9px);
    width: 100vw;
    height: 968px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F4F0EC;
}

.aboutus-team-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus-team-title {
    margin-bottom: 40px;
    width: 547px;
    text-align: center;
}

.aboutus-team-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.aboutus-team-item {
    position: relative;
    overflow: hidden;

    width: 283.55px;
    height: 433px;
    border-radius: 30px;
}

.aboutus-item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color .1s ease-in-out;
}

.aboutus-team-item:hover .aboutus-item-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.aboutus-team-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1320px) {
    .aboutus-team-content {
        width: 95%;
    }
}
@media screen and (max-width: 1250px) {
    .aboutus-team {
        margin-bottom: 100px;
        height: 600px;
    }
    .aboutus-team-item {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .aboutus-team {
        margin-bottom: 100px;
        height: fit-content;
    }
    .aboutus-team-list {
        padding-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    .aboutus-team-item {
        width: 250px;
        height: 340px;
    }
    .aboutus-team-item:first-child{
        margin-bottom: 20px;
    }
    .aboutus-team-item:nth-child(1n) {
        margin-right: 20px;
    }
    .aboutus-team-title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .aboutus-team {
        margin-bottom: 50px;
        left: calc(-50vw + 50%);
    }
    .aboutus-team-list {
        width: 90%;
    }
    .aboutus-team-item {
        width: 230px;
        height: 260px;
    }
    .aboutus-team-item:first-child{
        margin-bottom: 10px;
    }
    .aboutus-team-item:nth-child(1n) {
        margin-right: 10px;
    }
    .aboutus-team-title {
        width: 90%;
    }
}
@media screen and (max-width: 565px) {
    .aboutus-team-item {
        width: 160px;
        height: 220px;
    }
}
@media screen and (max-width: 400px) {
    .aboutus-team-item {
        width: 150px;
        height: 220px;
    }
}
@media screen and (max-width: 375px) {
    .aboutus-team-item {
        width: 130px;
        height: 200px;
    }
}